/* Common rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */

.margin{
    width: 1100px;
    margin: auto;
}

.vh{
    height: 100vh;
}

/* header */

#site_header{
    height: 80vh;
    background-color: cornflowerblue;
}

.navbar{
    height: 3rem;
    background-color: azure;
}

.head_title{
    margin-top: 6rem;
    height: 6rem;
    background-color: blueviolet;
}

.head_text{
    margin-top: 3rem;
    height: 130px;
    background-color: blueviolet;
}

.head_button{
    margin-top: 1rem;
    height: 4rem;
    background-color: blueviolet;
}
/* main */

#talk{
    background-color: aqua;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.col_75{
    margin-top: 6rem;
    width: 75%;
    height: 400px;
    background-color: cadetblue;
    float: left;
}

.col_25{
    margin-top: 6rem;
    width: 25%;
    height: 500px;
    background-color: burlywood;
    float: left;
}

#find{
    background-color: tomato;
}

#fandom{
    background-color: thistle;
}

.sec_title{
    margin-top: 4rem;
    height: 5rem;
    background-color: chocolate;
}

.sec_text{
    margin-top: 2rem;
    height: 7rem;
    background-color: grey;
}

.hero_img{
    margin-top: 2rem;
    height: 350px;
    background-color: brown;
}

.text{
    margin-top: 3rem;
    height: 2rem;
    background-color: blanchedalmond;
}

.sec_button{
    margin-top: 1rem;
    height: 2rem;
    background-color: blanchedalmond;
}
/* footer */