/* Common rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Utility */

.margin{
    width: 1100px;
    margin: auto;
}

.vh{
    height: 100vh;
}

/* header */

#site_header{
    height: 70vh;
    position: relative;
}

.container{
    background-image: url(../img/jumbo.png);
    height: 70vh;
    background-size: cover;
    background-position: top;
}

.header_logo,
.navbar,
.login{
    margin-top: 2rem;
}

.header_logo{
    width: 15%;
    float: left;
}

.navbar{
    width: 70%;
    display: inline-block;
    text-align: center;
    color: white;
    float: left;
}

.navbar > ul >li{
    list-style: none;
    display: inline-block;
    padding-right: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    
}

.login{
    width: 15%;
    float: left;
    position: relative;
}

.login > button{
    color: #393D40;
    text-align: center;
    background-color: white;
    border-style: none;
    border-radius: 20px;
    padding: 0.75rem;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;

}

.head_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head_title{
    margin-top: 6rem;
    text-align: center;
    color: white;
    font-size: 40px;
}

.head_text{
    margin-top: 2rem;
    width: 70%;
    color: white;
    text-align: center;
    font-size: 20px;
}

.head_button{
    margin-top: 1.5rem;
    text-align: center;
}

.button_black,
.button_white{
    border-style: none;
    padding: 1rem;
    border-radius: 20px;
    margin-right: 1rem;
    font-size: 20px;
    text-align: center;
}

.button_white{
    background-color: white;
    padding: 0.75rem;
}

.button_black{
    background-color: black;
    color: white;
}

/* main */

.row::after{
    content: "";
    display: table;
    clear: both;
}

/* COL */

.col_75{
    margin-top: 6rem;
    width: 75%;
    float: left;
}

#find{
    position: relative;
}

.absolute{
    position: absolute;
    top: 0;
    left: 42%;
}

.col_25{
    margin-top: 6rem;
    width: 25%;
    float: left;
}

.col_25 > h2{
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}

.col_25 > p{
    line-height: 1.6;
}

.col_35{
    margin-top: 3rem;
    width: 35%;
    height: 200px;
    background-color: cadetblue;
    float: left;
}

.col_16{
    margin-top: 3rem;
    width: 16.25%;
    height: 200px;
    background-color: rgb(100, 67, 192);
    float: left;
}

.col_16_lg{
    margin-top: 3rem;
    width: 16.25%;
    height: 450px;
    background-color: rgb(100, 67, 192);
    float: left;
}

#fandom{
    background-color: thistle;
}

.sec_title{
    margin-top: 4rem;
    height: 5rem;
    background-color: chocolate;
}

.sec_text{
    margin-top: 2rem;
    height: 7rem;
    background-color: grey;
}

.hero_img{
    margin-top: 2rem;
    height: 350px;
    background-color: brown;
}

.text{
    margin-top: 3rem;
    height: 2rem;
    background-color: blanchedalmond;
}

.sec_button{
    margin-top: 1rem;
    height: 2rem;
    background-color: blanchedalmond;
}
/* footer */

#site_footer{
    height: 80vh;
    background-color: black;
}

.footer_logo{
    margin-top: 1rem;
    height: 3rem;
    width: 50%;
    background-color: gray;
    float: left;
}

.sign_in{
    margin-top: 1rem;
    height: 3rem;
    width: 49%;
    background-color: lightblue;
    float: left;
}